@use "@/styles/media.scss" as *;
@use "@/styles/mixins.scss" as *;

.gameOverScreen {
  @include fullScreen;

  &__Image {
    display: block;
    max-width: 320px;
    width: 100%;
    height: auto;

    @include desktop {
      max-width: 640px;
    }
  }

  &__Label {
    opacity: 0.5;
    margin-bottom: 8px;
    color: var(--black-100);
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }

  &__Score {
    margin-bottom: 100px;
    text-align: center;

    @include desktop {
      margin-bottom: 64px;
      text-align: left;
    }
  }

  &__Button {
    width: 100%;
    max-width: 280px;
  }
}
