@use "@/styles/media.scss" as *;

.button {
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  color: var(--white-100);
  background-color: var(--orange-100);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;

  @include desktop {
    padding: 20px 24px;
    border-radius: 12px;

    &:hover {
      background-color: var(--orange-80);
    }
  }

  &:active {
    background-color: var(--orange-120);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--orange-100);
    opacity: 0.5;
  }
}
