@use "@/styles/media.scss" as *;
@use "@/styles/mixins.scss" as *;

.startScreen {
  @include fullScreen;

  &::before {
    position: absolute;
    content: "";
    border-top: 100svh solid transparent;
    border-right: 100vw solid var(--orange-5);
    z-index: -1;
    width: 0;
    height: 100%;
  }

  &__Image {
    display: block;
    width: 100%;
    max-width: 320px;
    height: auto;

    @include desktop {
      max-width: 640px;
    }
  }

  &__Title {
    max-width: 280px;
    margin-bottom: 100px;
    text-align: center;

    @include desktop {
      max-width: unset;
      margin-bottom: 64px;
      text-align: left;
    }
  }

  &__Button {
    width: 100%;
    max-width: 280px;
  }
}
